.form-fields-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-field {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

ion-item {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

ion-select {
  width: 100%;
}

.select-margin {
  margin-left: 15px !important;
  display: flex;
  flex-direction: column;
  width: 100%;
}