<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ngModelChange)="searchPeoples()"
    placeholder="Pesquisar pessoas"></ion-searchbar>

  <app-people-accordion [persons]="peoples" (onEditPerson)="editPerson($event.person)"
    (onRemovePerson)="removePerson($event)">
  </app-people-accordion>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <app-custom-button-icon buttonType="add" [buttonColor]="'#649cff'" (onClick)="addPerson()"></app-custom-button-icon>
  </ion-fab>
</ion-content>